<div class="toolbar" role="banner">
  <img
    width="250"
    alt="Angular Logo"
    src="./assets/img/logo.png"
  />
    <div class="spacer">
      <a routerLink="/doctor/profile" routerLinkActive="active" class="pt-features">PROFILE</a>
        <a routerLink="/doctor/record" routerLinkActive="active" class="pt-features">RECORDS</a>
        <a routerLink="/doctor/message" routerLinkActive="active" class="pt-features">MESSAGE</a>
        <a routerLink="/doctor/booking" routerLinkActive="active" class="pt-features">BOOKING</a>
        <a routerLink="/doctor/consultation" routerLinkActive="active" class="pt-features">CONSULTATION</a>
    </div>
</div>


<router-outlet class="dr-content"></router-outlet>


