
// Remy function
@function remy($value) {
    @return ($value / 16px) * 1rem;
  }
  
  body {
    font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
    background: #e9e9e9;
  }
  a,
  [type="submit"] {transition: all .25s ease-in;}
  .signup__container {
    position: absolute;
    margin-top: 20%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    //align-items: center;
    //justify-content: center;
    width: 100%;
    height: 85%;
    border-radius: remy(3px);
    box-shadow: 0px remy(3px) remy(7px) rgba(0,0,0,.25);
    background: url('/assets/img/home.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  .signup__thumbnail {
    width: 30%;
    height: 100%;
    color: #fff;
    float: left;
    position: relative;
    padding-top: none;
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:none;
    //background: url(http://ultraimg.com/images/spectre-login.jpg);
    //background-repeat: no-repeat;
    //background-position: top center;
    //background-size: cover;
  }
  
  h1,
  h2 {
    font-weight: 300;
    color: rgba(255,255,255,1);
  }
  .heading--primary {font-size: 1.999rem;
  }

  .signup__form {
    padding: 2.5rem;
    background:#fafafa;
  }
  
  .signup__link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
    &:focus,
    &:hover {color: darken(#999, 13%);}
  }
//header
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  padding:1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.pt-features{
color:black;
font-weight: 700;
text-decoration: none;
margin-left: 3%;
}
.spacer{
  margin-left: 5%;
  width: 45%;
}

//sign up form
label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}
  .form-style-10{
    opacity: 85%;
    width:450px;
    padding:30px;
    margin:40px auto;
    background-color:WHITE;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  }
  .form-style-10 .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  .form-style-10 h1{
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
  }
  .form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
  }
  .form-style-10 label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
  }
  .form-style-10 input[type="text"],
  .form-style-10 input[type="date"],
  .form-style-10 input[type="datetime"],
  .form-style-10 input[type="email"],
  .form-style-10 input[type="number"],
  .form-style-10 input[type="search"],
  .form-style-10 input[type="time"],
  .form-style-10 input[type="url"],
  .form-style-10 input[type="password"],
  .form-style-10 textarea,
  .form-style-10 select {
    background-color: rgb(248, 239, 221);
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  }
  
  .form-style-10 .section{
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
  }
  .form-style-10 .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
  }
  .form-style-10 input[type="button"], 
  .form-style-10 input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
  }
  .form-style-10 input[type="button"]:hover, 
  .form-style-10 input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  }
  .form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
  }
//login button
.login-button{
  background: #2A88AD;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 14px;
}
.login-button:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  }
  .login-inp{
    // display: block;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     width: 30%;
     padding: 8px;
     border-radius: 6px;
     -webkit-border-radius:6px;
     -moz-border-radius:6px;
     border: 2px solid rgb(237, 237, 243);
     box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
     -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
     -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
   }