<div class="form-style-10">
    <h1>BOOK ONLINE CONSULTATION</h1>
    <form>
        <div class="inner-wrap">
            <label>Choose your Physician<input type="text" name="field1" /></label>
            <label>Chief Complaints <textarea name="field2" class="cons-inp"></textarea></label>
            <label>Other Medical Problems <textarea name="field2" class="cons-inp"></textarea></label>
        </div>
        <div class="button-section">
         <input type="submit" name="SEND" />
        </div>
    </form>
  </div>