<div class="toolbar" role="banner">
  <img
    width="250"
    alt="Angular Logo"
    src="./assets/img/logo.png"
  />
    <div class="spacer">
      <a routerLink="/patient/profile" routerLinkActive="active" class="pt-features">PROFILE</a>
      <a routerLink="/patient/history" routerLinkActive="active" class="pt-features">HISTORY</a>
      <a routerLink="/patient/message" routerLinkActive="active" class="pt-features">MESSAGE</a>
      <a routerLink="/patient/consult" routerLinkActive="active" class="pt-features">CONSULTATION</a>
        
    </div>
</div>


<router-outlet></router-outlet>  
  